[submodule "tools/ai-suite"]
	path = tools/ai-suite
	url = https://github.com/BrDeross/medi-solutions-ai-suite.git
[submodule "tools/tools-bundle"]
	path = tools/tools-bundle
	url = https://github.com/BrDeross/bundle-options.git
[submodule "tools/bundle-options"]
	path = tools/bundle-options
	url = https://github.com/BrDeross/bundle-options.git
[submodule "tools/comparison"]
	path = tools/comparison
	url = https://github.com/BrDeross/coverage-comparison-tool.git
[submodule "tools/retirement-budget"]
	path = tools/retirement-budget
	url = https://github.com/BrDeross/retirement-budget-tool.git
